header {
  background-color: #ef7bd6;
  color: #000000;
  font-family: "Montserrat Alternates";
  text-align: center;
  font-size: x-large;
  padding: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  margin-right: 10px;
  width: 100px;
}

.navigation a:hover, navigation a:active {
  color: rgb(164, 134, 212);
  background-color: rgb(255, 254, 254); } 

.navigation {
  display: flex;
  font-family: "Montserrat Alternates";
  font-size: larger; }

.navigation li {
  list-style-type: none; 
  margin: 0 60px; }

/*main grid container...heading, learning activities, info, map*/ 
.grid-container {
  margin: 0 auto;
  max-width: 900px;
  display: grid;
  grid-template-columns: 570px 330px;
  grid-template-rows: 100px 500px 400px;
  gap: 10px; 
  font-family: "Montserrat Alternates"; }

.grid-container > div {
    color:rgb(0, 0, 0);
    padding: 20px;}

.grid-container > div:nth-child(1) {
    grid-column: 1/ 3;
    text-align: left; }

/* underline for title under header and titles Learning Activities and Info */
h2 {
    border-bottom:2px solid #484646;}

h3 { border-bottom:1.5px solid #7e7c7c; }

/*styling for assignments in Learning Activities*/ 
h4 .assignment {
    list-style-type: none; }

h4 li {
    display: inline; 
    margin: 0 10px;}

.grid-container> div:nth-child(2) {
    grid-column: 1 / 2;
    text-align: left;
    border: 3px solid black;
    background-color: #ef7bd6; }

.grid-container> div:nth-child(3) {
    grid-column: 2 / 3;
    text-align: center;
    border: 3px solid black;
    background-color: #ef7bd6; }


/*this is my footer section styling*/ 
footer {
    background-color: #ef7bd6;
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat Alternates";}

.lastmodified p {
    display:inline-block;
    color: black;
    font-family: 'Times New Roman', Times, serif;}

.year p{
    display:inline-block; }


    /*Styling for Html*/
  
/*makes boxes vertical*/ 
label { display: block;
    font-weight: 700;
    font-family: "Montserrat Alternates";}

/* stars */
input[type="radio"] { display: none;
    position: relative;
    caret-color: rgba(0, 0, 0, 0);}

.stars { display: flex;
    flex-direction: row-reverse;
    justify-content: left; }

.stars > label { color: gold;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    margin-left: 5px;
    display: flex;
    align-items: center;
    caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/}

    .stars > label:hover { color: #000000;}

    .stars > label::before { content: "\2606";}
    
    .stars input:checked ~ label::before { content: "\2605"; }

/*page rating*/ 
input[type=text], input[type=range], input[type=radio] { margin: 1rem;
    padding: 0.5em;}

#r { width: 180px;
    margin-bottom: 0; }

#rangevalue { font-size: 2rem;
    color: rgb(51, 51, 204); }

#rangevalues { display: flex;
    margin: 0 0 0 25px;
    width: 200px; }

#rangevalues option { flex: 1 1 auto; }

h1 { font-family: "Montserrat Alternates";
  padding-left: 20px;}

input {
  margin: 40px;
  padding: 10px;
  font-family: "Montserrat Alternates"; }

fieldset {
  margin: 10px; 
  padding: 10px;  }

legend {font-family: "Montserrat Alternates";}